.welcome{
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.welcome::-webkit-scrollbar {
    width: 0;               /* width of the entire scrollbar */
  }


.title{
    align-items: center;
    background-image: linear-gradient( 109.6deg,  rgba(116,18,203,1) 11.2%, rgba(230,46,131,1) 91.2% );
    
    /* background-color: #ff3cac;
    background-image: linear-gradient(225deg,#ff3cac,#784ba0 50%,#2b86c5); */
    display: flex;
    font-size: 25px;
    height: 35px;
    justify-content: center;
    margin: 18px 0 42px;
    width: 73%;
    line-height: 35px;
    border-radius: 20px;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 3px 14px 0px #fff;
    transition: 0.3s all;
}


.welcome-tab{
    display: grid;
    grid-gap: 26px 67px;
    grid-template-columns: repeat(2, 1fr);
    min-height: 235px;
}


.fileIcons{
    margin: 23px 33px;
    cursor: pointer;
    transform: scale(4);
}

.fileName{
    color: #fff;
    margin: 7px 0 0;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
}

